.navigation{
    background: #222222;
}
.navigation a {
    color: #007BEC;
}
.logo{
    font-family: 'Irish Grover', cursive;
    font-size: 35px!important;
}
.menu {
    font-size: 20px;
}
.menu a:hover {
    color: #ff014f;
}